.search {
    box-sizing : border-box;
    width: 100%;
    padding: 10px 10px 10px 60px;
    background-image: url('../../icons/search.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 1.2em;
    font-size: 1.2em;
    border: 0;
    outline: 1px solid rgba(0,0,0,0.2);
}

.myreads-results {
    display: flex;
    flex-wrap: wrap;
}

